.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-right: 0;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 40px;
}

.cart-container {
  background-color: bisque;
  padding-left: 20px;
}
